.header
{

    color: black;
    background-color: rgb(85, 84, 79);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */

.data {
   font-size: 11px;
}

input {
    height: 40px;
}

.btn
{
    width: 50px;
    height: 40px;
    font-size: 13px;
    padding: 0em;
}


/* //for responsive table */


	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 2px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
    }
    
    td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Email"; }
	td:nth-of-type(3):before { content: "Mobile"; }
	td:nth-of-type(4):before { content: "Location"; }
	td:nth-of-type(5):before { content: "Actions"; }





}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */


.data {
    font-size: 11px;
 }
 
 input {
     height: 40px;
 }
 
 .btn
 {
     width: 50px;
     height: 40px;
     font-size: 13px;
     padding: 0em;
 }
 
 
 /* //for responsive table */
 
 
     /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr { 
         display: block; 
     }
     
     /* Hide table headers (but not display: none;, for accessibility) */
     thead tr { 
         position: absolute;
         top: -9999px;
         left: -9999px;
     }
     
     tr { border: 2px solid #ccc; }
     
     td { 
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee; 
         position: relative;
         padding-left: 50%; 
     }
     
     td:before { 
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%; 
         padding-right: 10px; 
         white-space: nowrap;
     }
     
     td:nth-of-type(1):before { content: "First Name"; }
     td:nth-of-type(2):before { content: "Email"; }
     td:nth-of-type(3):before { content: "Mobile"; }
     td:nth-of-type(4):before { content: "Location"; }
     td:nth-of-type(5):before { content: "Actions"; }
}