.row
{
    margin-left: 0px;
    padding-left: 0em;
}

.col-md-8
{
    margin-left: 20px;
    padding-left: 0em;
}

.form-control
{
    height: 30px;
}

.col-md-3
{
    background-color: rgb(92, 45, 92);
    height: 480px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */

.col-md-8
{
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 0em;
}







}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

.col-md-8
{
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 0em;
}

.col-md-3
{
    background-color: rgb(92, 45, 92);
    height: 480px;
    margin-right: 20px;
    padding-top: 30px;
    border-radius: 15px ;
}

}